{% extends "base/base.html" %}

{% block title %}
About Us - 
{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>
Our temple is a member of the World Maitreya Great Tao (WMGT), which is dedicated to the vow of Buddha Maitreya to bring global peace and harmony by ways of loving nature and assisting to make a Pureland on earth.
</p>
<br/>

<p>Love for nature and self-improvement through inner change, incorporating universal joy and respect to all as the daily practice, and implementing living in accordance with conscience are the core foundations of World Maitreya Great Tao.  Through this window of practice, we believe global harmony can be achieved.
</p>

{% endblock %}
