{% extends "base/base.html" %}

{% block title %}
Our Principle - 
{% endblock %}

{% block content %}
<h1>Our Principle</h1>
<p>
The members of WMGT Canada (Vancouver) embrace the teachings of Buddha Maitreya, to love and to respect nature and life; to embrace and to help achieve the physical, environmental and the spiritual balance.  As members of the WMGT and students of the Maitreya Faith, we believe the love and the wisdom of Buddha Maitreya is leading us to a revolutionary change to uncover the goodness of humankind and to restore harmony with nature.  
</p>
<br/>

<p>
Buddha Maitreya is guiding the world into a new era in which all people live as one family by ways of respect and love for the sanctity of life and nature.  Therefore to the students of the Maitreya Faith, raising the level of consciousness, respecting all life and people, and creating a harmonious relationship with nature, are principles we value and uphold.  As we share our goals and undertake this momentum of change, Buddha Maitreya shows us into a new way of living, creating a civilization based on compassion, implementing a culture of compassion, upholding values of compassion, and guarding the world view of compassion.  Together, we can bring the goodness of humanity to light.  
</p>

{% endblock %}
