{% extends "base/base.html" %}

{% block title %}
Contact Us - 
{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<p>
  Providence Maitreya Buddha Missionary Temple<br/>
  3495 East Hastings St.<br/>
  Vancouver, BC V5P 3J7<br/>
  Canada<br/><br/>

  <iframe width="425" height="350" frameborder="0" scrolling="no"
  marginheight="0" marginwidth="0"
  src="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=3495+east+hastings+st+vancouver&amp;sll=37.0625,-95.677068&amp;sspn=58.337319,89.560547&amp;ie=UTF8&amp;hq=&amp;hnear=3495+E+Hastings+St,+Vancouver,+Greater+Vancouver+Regional+District,+British+Columbia+V5K+2A5,+Canada&amp;ll=49.281134,-123.028314&amp;spn=0.047593,0.087461&amp;z=14&amp;output=embed"></iframe><br
  /><small>
  <a target="_blank"
  href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=3495+east+hastings+st+vancouver&amp;sll=37.0625,-95.677068&amp;sspn=58.337319,89.560547&amp;ie=UTF8&amp;hq=&amp;hnear=3495+E+Hastings+St,+Vancouver,+Greater+Vancouver+Regional+District,+British+Columbia+V5K+2A5,+Canada&amp;ll=49.281134,-123.028314&amp;spn=0.047593,0.087461&amp;z=14"
  style="color:#0000FF;text-align:left">View Larger Map</a></small>
</p>
{% endblock %}
