{% load tree_menu_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>
    {% block title %}
        {% if title %}
            {{ title }} - 
        {% endif %}
    {% endblock %}
    Maitreya Buddha Temple | Vancouver, Canada
  </title>
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="description" content="Our Vancouver-based temple is a member of the World Maitreya Great Tao, which is dedicated to the vow of Buddha Maitreya to bring global peace and harmony."/>
	<meta name="keywords" content="maitreya,temple,vancouver,tao,buddha maitreya,world maitreya great tao" />

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz"/>
    <link href='http://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}schedule/css/schedule.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox/colorbox.css"/>

    {% block extra_style %}
    {% endblock %}

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
  <!--script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script-->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tools.min.js"></script>

  {% block extra_head %}
  {% endblock %}

  <script type="text/javascript">
    {# auto adjust content height #}
    $(document).ready(function() {
        var $sidebar = $("#sidebar_wrapper");
        var $content = $("#content_wrapper");
        var $container = $("#content_container");
        if ($sidebar.height() > $content.height()) {
          $content.css("height", $container.height() + "px");
        }
    });
  </script>
</head>

<body>
  <div id="header">
    <div id="inner_header">
      <div id="top_menu">
        <!--ul class="horizontal">
          <li class="left_separator"><a href="#">Subscribe</a></li>
          <li><a href="/about/contact-us/">Contact Us</a></li>
        </ul-->
      </div>
      <div id="logo">
          <a href="{% url maitreya_van.main.views.index %}">
          <span>Maitreya Great Tao</span>
          <img alt="Providence Maitreya Buddha Missionary Temple"
               src="{{ STATIC_URL }}css/images/logo.png"/>
        </a>
      </div>
      <div id="main_menu">
        {% show_menu "Main" "top_menu" %}
      </div>
    </div>
  </div>

  <div id="body">
    <div id="body_wrapper">
      {% block mp_container %}
      {% endblock %}

      {% block content_base %}
      <div id="content_container">
        <div id="sidebar_wrapper">
          <div id="sidebar">
            {% show_menu "Main" "sidebar" %}
          </div>
        </div>

        <div id="content_wrapper">
          <div id="content">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
      {% endblock %}

      {% block mp_updates %}
      {% endblock %}
    </div>
  </div>

  <div id="footer">
    <div id="bottom_menu_container">
      <div id="bottom_menu" class="clearfix">
        <ul class="horizontal_left">
          <li class="right_separator"><a href="/">Home</a></li>
          <li class="right_separator"><a href="{% url about_us %}">About Us</a></li>
          <li><a href="{% url contact_form %}">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="address_cpright">
      <div id="copyright_container" class="clearfix">
        <div class="right">
          <h3 style="color: #ACA9A9">Our Location:</h3>
          3495 East Hastings St.<br/>
          Vancouver, BC<br/>
          Canada
        </div>
        <div id="copyright" class="left">
          Copyright {% now "Y" %} Providence Maitreya Buddha Missionary Temple. All
          rights reserved.
        </div>
      </div>
    </div>
  </div>
  {% block extra_footer %}
  {% endblock %}
</body>

</html>
