{% extends "base/base.html" %}

{% block main_page_container %}
<div id="mp_slideshow">
  <img src="/site_media/images/sample2.jpg"/>
  <p>Welcome to our website! lkajsd falsk fdalks jfdlkas fdlkajs fdlkajs dlfk
  jsadlkfja slkjf lksa flksa jdflkasj dlkf sadljfsalkdfj aslkjfd lkas jdlkfjsad
  kfasdf</p>
</div>
<div id="mp_updates">
  <div class="col" id="mp_news">
    <h3>LATEST NEWS</h3>
    <p class="header2">July 13, 2010</p>
    <p>New images added to Media section!</p>
  </div>
  <div class="col" id="mp_events">
    <h3>UPCOMING NEWS</h3>
    <p class="header2">July 13, 2010</p>
    <p>Community Performance at School</p>
  </div>
  <div class="col" id="mp_blog">
    <h3>RECENT BLOG ENTRIES</h3>
    <p class="header2">July 13, 2010</p>
    <p>blog blah blah</p>
  </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}
