{% extends "base/base.html" %}

{% block extra_head %}{{ block.super }}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/tinyfader.js"></script>
{% endblock extra_head %}

{% block mp_container %}
<div id="short_summary">
    {% load webdesign %}
    {% lorem %}
</div>
<div id="mp_wrapper">
  <div id="main_page">
    <div id="mp_container">
      <div id="mp_slideshow">
        <ul id="slides">
          {% for url in photo_urls %}
          <li><img src="{{ url }}"></li>
          {% endfor %}
        </ul>
        <p>Welcome to our website! lkajsd falsk fdalks jfdlkas fdlkajs fdlkajs dlfk
        jsadlkfja slkjf lksa flksa jdflkasj dlkf sadljfsalkdfj aslkjfd lkas jdlkfjsad
        kfasdf</p>
        <br/>
        <p>Our Sunday service time starts at 11am</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block mp_updates %}
    <div id="mp_updates" class="clearfix">
      <div class="col" id="mp_news">
          <a href="{% url news_index %}">
            <h3 class="uppercase">Latest News</h3></a>
        <div class="latest_list">
          <ul>
          {% for news in news_list %}
            <li {% if not forloop.first %} class="add_separator" {% endif %}>
              <p class="date">{{ news.date|date:"F d, Y" }}</p>
              <p class="title"><a href="#">{{ news.title }}</a></p>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col" id="mp_events">
          <a href="{% url month_calendar calendar_slug="temple" %}">
            <h3 class="uppercase">Upcoming Events</h3></a>
        <div class="latest_list">
          {% if occurrences %}
            <ul>
            {% for o in occurrences %}
              <li {% if not forloop.first %} class="add_separator" {% endif %}>
                <p class="date">{{ o.start.date|date:"F d, Y" }}</p>
                <p class="title"><a href="{{ o.get_absolute_url }}">{{ o.title }}</a></p>
              </li>
            {% endfor %}
            </ul>
          {% else %}
            <p class="NA">There are currently no upcoming events</p>
          {% endif %}
        </div>
      </div>
      <div class="col" id="mp_blog">
        <h3 class="uppercase">Recent Blog Entries</h3>
        <div class="latest_list">
          {% if entries %}
            <ul>
            {% for entry in entries %}
              <li {% if not forloop.first %} class="add_separator" {% endif %}>
                <p class="date">{{ entry.date|date:"F d, Y" }}</p>
                <p class="title"><a href="#">{{ entry.title }}</a></p>
              </li>
            {% endfor %}
            </ul>
          {% else %}
            <p class="NA">There are currently no blog entry</p>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}

{% block content_base %}
{% endblock %}

{% block extra_footer %}{{ block.super }}
<script type="text/javascript">
    var slideshow=new TINY.fader.fade('slideshow',{
        id:'slides',
        auto:3,
        resume:true,
        visible:true,
        position:0
    });
</script>
{% endblock extra_footer %}
