{% extends "base/base.html" %}

{% block extra_head %}{{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/tinyfader.js"></script>
{% endblock extra_head %}

{% block mp_container %}
<div id="short_summary">
  <strong>Providence Maitreya Buddha Missionary Temple</strong>, located in Vancouver, Canada, is
  a member of the <strong>World Maitreya Great Tao</strong>. We are dedicated to the vow of Buddha
  Maitreya to bring global peace and harmony. <strong>Love for nature, self-reflection,
  and universal joy to all</strong> are the core foundations of the World Maitreya Great
  Tao. We believe that this practice will lead us to uncover the goodness of
  humankind and to restore the harmony with nature, thus <strong>bringing the global peace
  on earth.</strong>
</div>
<div id="mp_wrapper">
  <div id="main_page">
    <div id="mp_container">
      <div id="mp_slideshow">
        <ul id="slides">
          {% for url in photo_urls %}
          <li><img src="{{ url }}"/></li>
          {% endfor %}
        </ul>
        <h2>Welcome!</h2>
        <p>Do you want to know more <a href="{% url about_us %}">about us</a>? Please read <a href="{% url about_principle %}">our principle</a> and <a href="{% url maitreya_index %}">teachings</a>.<br/><br/>
        Our regular service is every Sunday at 11:00AM. Everyone is welcome to join!<br/><br/>
        To find out about our other activities, please go to the <a href="{% url calendar_upcoming calendar_slug='temple' %}">upcoming events</a> page.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block mp_updates %}
    <div id="mp_updates" class="clearfix">
      <div class="col" id="mp_news">
          <a href="{% url news_index %}">
            <h3 class="uppercase">Latest News</h3></a>
        <div class="latest_list">
          <ul>
          {% for news in news_list %}
            <li {% if not forloop.first %} class="add_separator" {% endif %}>
              <p class="date">{{ news.pub_date|date:"F d, Y" }}</p>
              <p class="title"><a href="{% url news_detail news.pk news.slug %}">{{ news.title }}</a></p>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col" id="mp_events">
          <a href="{% url month_calendar calendar_slug="temple" %}">
            <h3 class="uppercase">Upcoming Events</h3></a>
        <div class="latest_list">
          {% if occurrences %}
            <ul>
            {% for o in occurrences %}
              <li {% if not forloop.first %} class="add_separator" {% endif %}>
                <p class="date">{{ o.start.date|date:"F d, Y" }}</p>
                <p class="title"><a href="{{ o.get_absolute_url }}">{{ o.title }}</a></p>
              </li>
            {% endfor %}
            </ul>
          {% else %}
            <p class="NA">There are currently no upcoming events</p>
          {% endif %}
        </div>
      </div>
      <div class="col" id="mp_blog">
        <h3 class="uppercase">Media</h3>
        <div class="latest_list">
          {# TODO: Use template tags to render media info properly #}
          {% if latest_media %}
            <ul>
            {% for media in latest_media %}
              <li {% if not forloop.first %} class="add_separator" {% endif %}>
                <p class="date">{{ media.timestamp|date:"F d, Y" }}</p>
                <p class="title"><a href="{{ media.url }}">{{media.type}}: {{ media.title }}</a></p>
              </li>
            {% endfor %}
            </ul>
          {% else %}
            <p class="NA">There are currently no media available</p>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}

{% block content_base %}
{% endblock %}

{% block extra_footer %}{{ block.super }}
<script type="text/javascript">
    var slideshow=new TINY.fader.fade('slideshow',{
        id:'slides',
        auto:3,
        resume:true,
        visible:true,
        position:0
    });
</script>
{% endblock extra_footer %}
