html, body {
  /* reset default margins and paddings in browsers */
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5F2FD;
  font-family: "Myriad Pro", Helvetica, Tahoma, Arial, Sans-serif;
  font-size: 95%;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

h1 {
  color: #FF7700;
  padding: 2px 0 15px 0;
  margin: 0;
}

h2 {
  color: #FF7700;
  padding: 2px 0 15px 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

#address_cpright {
  background-color: #212E3C;
  color: #736E6F;
  min-height: 4em;
}

#body {
  margin: auto;
  width: 980px;
}

#bottom_menu {
  font-size: 95%;
  margin: auto;
  width: 980px;
}

#bottom_menu_container {
  background-color: #364452;
  color: #ACA9A9;
  padding: 5px 0;
}

#copyright {
  font-size: 80%;
  margin: auto;
  width: 580px;
}

#copyright_container {
  margin: auto;
  width: 980px;
}

#content {
  padding: 20px 25px;
}

#content_wrapper {
  background-color: #FBFBEF;
  border-right: 1px solid lightgray;
  min-height: 350px;
  width: 710px;
}

#content_container {
  margin: auto;
  margin: 15px auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #F1F1C6;
  border: 1px solid #CCC;
  width: 960px;
}

#event_list .month_title {
  padding: 10px 0;
}

#footer {
  margin: auto;
  min-width: 980px;
}

#header {
  background-color: #227ECC;
  color: white;
  height: 150px;
  min-width: 980px;
}

#logo {
  background: #227ECC url("/site_media/css/images/header_bg.jpg") no-repeat;
  margin: auto;
  width: 980px;
}

#logo img {
  float: left;
}

#main_menu {
  font-family: 'Yanone Kaffeesatz', Arial;
  font-size: 25px;
  padding: 110px 0 0;
}

#main_menu a {
  color: white;
  padding-bottom: 12px;
}

#main_menu a:hover {
  background: url("/site_media/css/images/icons/selection_arrow.png") no-repeat center bottom;
  color: yellow;
}

#main_menu ul {
  margin: 0;
  padding: 0;
}

#main_menu ul li {
  padding: 0 10px;
}

#main_page {
  /*background: transparent url("/site_media/css/images/front_page_bg.png")
   * no-repeat 0 0;
  height: 450px;
  position: absolute;
  margin: 15px auto;
  */
  margin-top: 350px;
  width: 980px;
}

#mp_container {
  margin: auto;
  margin: 15px auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #FBFBEF;
  border: 1px solid #999;
  min-height: 350px;
  padding: 20px 25px;
  width: 900px;
}

#mp_img {
  position: absolute;
  top: 150px;
  z-index: -1;
}

#mp_slideshow {
  min-height: 350px;
}

#mp_slideshow img {
  -moz-box-shadow: 0 0 30px gray;
  -webkit-box-shadow: 0 0 30px gray;
  box-shadow: 0 0 30px gray;
  border: 10px solid white;
  float: right;
  margin: 20px 0 10px 20px;
  max-height: 300px;
  max-width: 400px;
}

#mp_updates {
  background-color: #F1F1C6; /*#A39480;*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  min-height: 10em;
  padding: 20px 25px;
  margin: -15px auto 15px auto;
  width: 900px;
}

#mp_updates .col {
  -moz-box-shadow: 1px 1px 5px lightgrey;
  -webkit-box-shadow: 1px 1px 5px lightgrey;
  box-shadow: 1px 1px 5px lightgrey;
  -moz-border-radius: 2em 1em;
  -webkit-border-radius: 2em 1em;
  background-color: white;
  background-color: white;
  float: left;
  margin: 10px 0 10px 8px;
  padding: 10px;
  width: 270px;
}

#sidebar_wrapper {
  background-color: #F1F1C6;
  float: right;
  width: 248px;
}

#sidebar {
  padding: 20px 15px;
}

#sidebar ul {
  list-style-type: none;
  padding-left: 25px;
}

#sidebar li {
  font-size: 100%;
  padding: 5px 0;
}

#sidebar li a {
  color: gray; 
}

#sidebar li a:hover {
  color: #227ECC;
  font-weight: bold;
}

#sidebar li.selected {
  color: #227ECC;
  font-weight: bold;
  list-style-image: url("/site_media/css/images/icons/right_arrow.png");
}

#sidebar li.selected a {
  color: #227ECC;
}

#top_menu {
  color: yellow;
  float: right;
}

a.home_button {
  background: url("/site_media/css/images/buttons/home_button.png") no-repeat;
  height: 34px;
  width: 38px;
}

a.home_button:hover {
  background-position: -38px 0;
}

a.about_button {
  background: url("/site_media/css/images/buttons/about_button.png") no-repeat;
  height: 34px;
  width: 74px;
}

a.about_button:hover {
  background-position: -74px 0;
}

a.teaching_button {
  background: url("/site_media/css/images/buttons/teaching_button.png") no-repeat;
  height: 34px;
  width: 68px;
}

a.teaching_button:hover {
  background-position: -68px 0;
}

a.classes_button {
  background: url("/site_media/css/images/buttons/classes_button.png") no-repeat;
  height: 34px;
  width: 59px;
}

a.classes_button:hover {
  background-position: -59px 0;
}

a.events_button {
  background: url("/site_media/css/images/buttons/events_button.png") no-repeat;
  height: 34px;
  width: 53px;
}

a.events_button:hover {
  background-position: -53px 0;
}

a.media_button {
  background: url("/site_media/css/images/buttons/media_button.png") no-repeat;
  height: 34px;
  width: 43px;
}

a.media_button:hover {
  background-position: -43px 0;
}

ul.horizontal {
  list-style-type: none;
}

ul.horizontal li {
  float: right;
}

.class_gallery {
  background-color: beige;
  border: 1px solid #DDA;
  margin: 30px 0;
  padding: 10px;
  text-align: center;
}

.class_gallery img {
  -moz-box-shadow: 0 0 5px #CCC;
  -webkit-box-shadow: 0 0 5px #CCC;
  box-shadow: 0 0 5px #CCC;
  background-color: white;
  padding: 10px;
}

.event_listing {
  border-bottom: 1px solid lightgray;
  margin: 10px 0;
  min-height: 3em;
}

.event_listing .event_date {
  float: left;
  font-size: 250%;
  padding: 2px 15px;
}

.event_listing .event_description {
  padding: 5px 0;
}

.event_listing .event_description .NA {
  color: gray;
  font-style: italic;
}

.gallery-photo {
  float: left;
  padding: 1px 3px;
}

.gallery-end {
  clear: both;
}

.side_menu_header {
  border-bottom: 2px dotted #FC6;
  letter-spacing: 8px;
  padding-bottom: 5px;
}

.left {
  float: left;
}

.right {
  float: right;
}

