html, body {
  /* reset default margins and paddings in browsers */
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5F2FD;
  font-family: "Myriad Pro", Helvetica, Tahoma, Arial, Sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

p {
  margin: 0;
  padding: 0;
}

#address_cpright {
  background-color: #212E3C;
  color: #736E6F;
  min-height: 4em;
}

#body {
  margin: auto;
  min-height: 500px;
  width: 980px;
}

#bottom_menu {
  font-size: 95%;
  margin: auto;
  width: 980px;
}

#bottom_menu_container {
  background-color: #364452;
  color: #ACA9A9;
  padding: 5px 0;
}

#copyright {
  font-size: 80%;
  margin: auto;
  width: 580px;
}

#copyright_container {
  margin: auto;
  width: 980px;
}

#content_container {
  width: 900px;
  z-index: 100;
}

#footer {
  margin: auto;
  min-width: 980px;
}

#header {
  background: #227ECC url("/site_media/css/images/header_bg.jpg");
  color: white;
  height: 150px;
  min-width: 980px;
}

#logo {
  margin: auto;
  width: 940px;
}

#logo img {
  float: left;
}

#main_menu {
  font-size: 1.5em;
  padding: 120px 0 0;
}

#main_menu a {
  display: block;
  float: right;
  margin: 0 15px;
}

#main_page {
  /*background: transparent url("/site_media/css/images/front_page_bg.png")
   * no-repeat 0 0;
  height: 450px;
  position: absolute;
  */
  margin: 15px auto;
  width: 980px;
}

#mp_img {
  position: absolute;
  top: 150px;
  z-index: -1;
}

#mp_container {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #FBFBEF;
  border: 1px solid #999;
  margin: auto;
  margin-top: 350px;
  width: 900px;
}

#mp_slideshow {
  min-height: 350px;
  padding: 20px 25px;
}

#mp_slideshow img {
  -moz-box-shadow: 0 0 30px gray;
  -webkit-box-shadow: 0 0 30px gray;
  box-shadow: 0 0 30px gray;
  border: 10px solid white;
  float: right;
  margin: 20px 0 10px 20px;
  max-height: 300px;
  max-width: 400px;
}

#mp_updates {
  background-color: #F1F1C6; /*#A39480;*/
  min-height: 10em;
}

#mp_updates .col {
  -moz-box-shadow: 1px 1px 5px lightgrey;
  -webkit-box-shadow: 1px 1px 5px lightgrey;
  box-shadow: 1px 1px 5px lightgrey;
  -moz-border-radius: 2em 1em;
  -webkit-border-radius: 2em 1em;
  background-color: white;
  background-color: white;
  float: left;
  margin: 10px 0 10px 8px;
  padding: 10px;
  width: 270px;
}

#top_menu {
  color: yellow;
  float: right;
}

a.home_button {
  background: url("/site_media/css/images/buttons/home_button.png") no-repeat;
  height: 34px;
  width: 38px;
}

a.home_button:hover {
  background-position: -38px 0;
}

a.about_button {
  background: url("/site_media/css/images/buttons/about_button.png") no-repeat;
  height: 34px;
  width: 74px;
}

a.about_button:hover {
  background-position: -74px 0;
}

a.teaching_button {
  background: url("/site_media/css/images/buttons/teaching_button.png") no-repeat;
  height: 34px;
  width: 68px;
}

a.teaching_button:hover {
  background-position: -68px 0;
}

a.classes_button {
  background: url("/site_media/css/images/buttons/classes_button.png") no-repeat;
  height: 34px;
  width: 59px;
}

a.classes_button:hover {
  background-position: -59px 0;
}

a.events_button {
  background: url("/site_media/css/images/buttons/events_button.png") no-repeat;
  height: 34px;
  width: 53px;
}

a.events_button:hover {
  background-position: -53px 0;
}

a.media_button {
  background: url("/site_media/css/images/buttons/media_button.png") no-repeat;
  height: 34px;
  width: 43px;
}

a.media_button:hover {
  background-position: -43px 0;
}

.right {
  float: right;
}

.left {
  float: left;
}
