{% extends "base/base.html" %}

{% block meta_desc %}
  <meta name="description" content="List of our upcoming events, such as Sunday service, youth class, singing class, special events, etc."/>
{% endblock %}

{% block content %}
<h1>Upcoming Events</h1>
<div id="event_list">
  {% for month,list in occurrences %}
    <h2 class="month_title">{{ month }}</h2>
    {% for occ in list %}
      <div class="event_listing">
        <div class="event_date">
          <p>{{ occ.start.date|date:'d' }}</p>
        </div>
        <div class="event_description">
          <p><strong><a href="{{ occ.get_absolute_url }}">{{ occ.title }}</a></strong></p>
          {% if not occ.description %}
            <p class="NA">Detail event description is not available</p>
          {% else %}
            <p>{{ occ.description|striptags|truncatewords_html:15|safe }}<p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% empty %}
    <p>There are currently no upcoming events</p>
  {% endfor %}
</div>
{% endblock %}
