{% load scheduletags %}

{% ifnotequal day.start.month month.start.month %}
  <td class="{{size}} daynumber noday"></td>
{% else %}
  {% if day.has_occurrences %}
    <td class="{{size}} daynumber busy {% ifequal today.day day.start.day %} today {% endifequal %}">
  {% else %}
    <td class="{{size}} daynumber free {% ifequal today.day day.start.day %} today {% endifequal %}">
{% endif %}
    <div class="header">
        {% if perms.schedule.add_event %}
          <a id="day_{{ day.start.day }}" href="/admin/schedule/event/add/"
             style="text-decoration: none;">
              <b>{{day.start.day}}</b>
          </a>
        {% else %}
          <b>{{day.start.day}}</b>
        {% endif %}
    </div>
    {% ifnotequal size "small" %}
        <div class="daycell">
            {% if day.has_occurrences %}
                {% for o in day.get_occurrence_partials %}
                        <div class="eventcell eventcell{{o.class}}{% if o.occurrence.cancelled %} cancelled{% endif %}" 
                            title="{{ o.occurrence.title }}">
                          <a href="{{ o.occurrence.get_absolute_url }}">
                            <div class="starttime">
                                {% ifequal o.class 0 %}{{ o.occurrence.start|time:"G:i" }}{% endifequal %}
                                {% ifequal o.class 1 %}{{ o.occurrence.start|time:"G:i" }}{% endifequal %}
                                {% ifequal o.class 2 %}(All day){% endifequal %}
                                {% ifequal o.class 3 %}Ends at {{ o.occurrence.end|time:"G:i" }}{% endifequal %}
                            <!--/div>
                            <div class="eventdesc"-->
                                {% title o.occurrence %}
                            </div>
                          </a>
                        </div>
                        <div id="{% hash_occurrence o.occurrence %}" style="display:none;">
                          {% detail o.occurrence %}
                        </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endifnotequal %}
</td>
{% endifnotequal %}
