{% extends "base/base.html" %}
{% load scheduletags %}

{% block extra_head %}{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/schedule.js"></script>
{% endblock extra_head %}

{% block content %}
<h1>Calendar</h1>
{% include "schedule/_dialogs.html" %}
<div class="tablewrapper">
  {# HACK: pass empty calendar slug since calendar slug is already hard-coded for this view name #}
  {% prevnext "month_calendar_temple" "" periods.month "F Y"%}
  <div class="now">
    <a class="cal-nav" href="{% url month_calendar_temple %}">
      This month
    </a>
  </div>
  {% month_table calendar periods.month "regular" %}
  {% include "schedule/_group_filter.html" %}
</div>
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">
  {# Attach click event on event div container to direct user to event detail page #}
  $(".eventcell a").each(function() {
    $(this).parent().click(function() {
      document.location.href = $(this).children("a").attr("href");
    });
  });
</script>
{% endblock %}
